* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0 clamp(1rem, 2.885vw + 0.077rem, 4rem);
    font-family: 'poppins';
    background: linear-gradient(0.25turn, rgba(0, 89, 255, 0.5), rgba(92, 149, 255, 0.5)), url(https://images.unsplash.com/photo-1629217855633-79a6925d6c47?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

header {
    margin: 0px;
    padding: 2rem;
    text-align: center;
}

header  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

nav {
    margin: 20px 0;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
.header-logo {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    padding-bottom: 20px;
}

section {
    max-width: 850px;
    margin: auto;
    padding: 20px clamp(1rem, 2.885vw + 0.077rem, 4rem);
    background: #EBF1FF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.team-data {
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0;
}

#injury-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

#injury-list ul {
    padding: 0;
}

#injury-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 15px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd; /* Divider between player items */
}

#injury-list li:last-child {
    border-bottom: none; /* Remove the border on the last item */
    border-radius: 0 0 5px 5px;
}

#injury-list li img {
    border-radius: 50%;
    margin-right: 10px;
}

#injury-list li strong {
    font-size: clamp(1.5rem, 0.288vw + 1.408rem, 1.8rem);
}

.team-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F6DFF;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    padding: 15px 15px;
    gap: 20px;
}

.team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    gap: 10px;
}

.team-info > p {
    margin: 0;
    font-style: italic;
}

.team-data > p {
    margin: 0;
    padding: 15px 15px;
    font-style: bold;
    color: #ffffff;
    background-color: #002466;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    border-radius: 0;
}

h1 {
    margin: 0;
    padding: 1rem 0;
    color: #001D52;
    font-size: clamp(2.5rem, 0.481vw + 2.346rem, 3rem);
}

h2 {
    font-size: clamp(2rem, 0.385vw + 1.877rem, 2.4rem);
    color: #001D52;
}

.team-info > h3 {
    font-size: clamp(2rem, 0.385vw + 1.877rem, 2.4rem);
    margin: 0;
}

.player-reason {
    font-size: clamp(1.3rem, 0.288vw + 1.208rem, 1.6rem);
}

.questionable {
    font-style: italic;
}